@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-header: #2F0F4E;

}

/* CABEÇA COM A LOGO, HAMBURGUER E MENU */
header{
    width: 100%;
    padding: 0px 5vw 0 10vw; /* Alterando para ficar mais agradável em mobile */

    flex-direction: column; /* Criando alterações para celular/tablet */

    position: absolute;
}
header > div.menu-mobile {
    width: 100%;
    display: flex;
    justify-content: space-between; /* Deixando a primeira caixa em row */
    align-items: center; 
}
header > div.menu-mobile > svg.botao-menu{
    display: inline;
    cursor: pointer;
}
header > div.menu-mobile > img.logo{
    /* width: 85px; */
    height: 55px;
}
header > nav{
    max-height: 0;          /* começa fechado */
    overflow: hidden;       /* esconde conteúdo extra */
    opacity: 0;             /* invisível */
    transition: max-height 1s ease, opacity 0.8s ease;
    display: block;
}
header > nav > a{
    font-size: 1.1em;
    margin: 15px 0px;
    display: block;
    text-align: center;
}
nav.ativo{
    display: block;
    max-height: 160px;  /* valor suficiente para caber todos os links */
    opacity: 1;         /* visível */
}
/* ==================================================================== */


/* Alterações para otimizar em celular em main */
main > section.marketing{
    background: black url(../assets/images/background-marketing.png) right top fixed;
    justify-content: center;
}
main > section.marketing > article.marketing{
    min-height: 160px;
    min-width: 370px;
    margin-left: 0;

    opacity: 95%; /* Criando design único pra dispositivos mobile */
}
/* ==================================================================== */


/* Alterações no sobre p/ celular e tablet */
main > section.sobre{
    max-height: 738px;
}
main > section.sobre > article.sobre{
    margin: 40px 0px 15px 0px;
    padding: 0px 5px;
}
main > section.sobre > article.sobre > h2{
    margin-bottom: 22.5px;
}
main > section.sobre > article.sobre > p{
    margin-bottom: 15px;
}
/* ==================================================================== */


/* Criando alterações personalizadas em ceo e valores p/ diferentes tamanhos de tela do tablet e mobile */
@media only screen and (min-width: 773px) { /* TABLET */
    main > section.valores{
        background: gray url(../assets/images/banner-mobile.png) center top scroll;
        background-size: cover;
        height:550px;

        flex-direction: row;
    }
    main > section.valores > article.ceo > img.ceos{
        width: 250px;
    }
}
@media only screen and (max-width: 772px){ /* MOBILE */
    main > section.valores{
        background: gray url(../assets/images/banner-mobile.png) center bottom scroll;
        height:900px;

        flex-direction: column;
        justify-content: space-evenly;
    }
    main > section.valores > article.ceo > img.ceos{
        margin-top: 1px;
        width: 220px;
    }

}
/* ==================================================================== */


/* Otimizando o serviço para mobile/tablet */
main > section.servicos > article.tipos > div.background{
    overflow-x: scroll;
    scrollbar-width: none;
}
main > section.servicos > article.tipos > div.background > div.picture{
    margin: 0 50px;
    padding: 5px 10px 0px 10px;
}
main > section.servicos > article.tipos > div.background > div.picture > img.imagem{
    width: 240px;
    height: 240px;
}
main > section.servicos > h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.1em;
}
main > section.servicos > article.tipos > h2{
    margin-bottom: 10px;
}
/* ==================================================================== */